# ---------- UNITY ----------
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
UserSettings/

# ---------- PYTHON ----------
__pycache__/
*.pyc
.venv/
env/

# ---------- OS ----------
.DS_Store
Thumbs.db
